$padding: 1rem;

section {
  display: block;
  cursor: pointer;
  transition: .5s all;

  &:hover {
    box-shadow: inset rgba(255, 255, 255, 0.3) 2vw 0 0;

    h2 {
      color: #fff;
    }

    .temperature {
      opacity: 1;
    }

    > div {
      padding-left: 4vw;
    }
  }

  * {
    transition: .5s all;
  }
}

.content {
  margin: 0;
  width: 100%;
  padding: $padding;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row nowrap;
  box-sizing: border-box;
}

.temperature {
  font-size: 20vw;
  color: #fff;
  font-family: sans-serif;
  opacity: .3;
  box-sizing: border-box;
}

.forecast {
  padding: $padding;

  div {
    padding-top: 1rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
  }
}
