<section *ngIf="data" [style]="setBackground(data.temperature)" (click)="toggleForecast()">
  <div class="content">
    <div>
      <h2>{{ data.name }}</h2>
      <p>Average temperature: <strong>{{ data.temperature }} &deg;C</strong></p>
      <p>Wind speed: <strong>{{ data.wind }} km/h</strong></p>
    </div>
    <div class="temperature">{{ data.temperature }}</div>
  </div>

  <div class="forecast" *ngIf="showForecast && forecast.length">
    <div>
      <h3>Next hours:</h3>
      <app-forecast *ngFor="let day of forecast" [day]="day.time" [temperature]="day.temperature"></app-forecast>
    </div>
  </div>
</section>
